@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

@keyframes slideInRight {
  from {
    transform: translateX(480px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-288px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 60%;
  }
}

@keyframes appearFromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

.slideshow-right {
  animation: slideInRight 0.2s ease-out
}

.slideshow-left {
  animation: slideInLeft 0.2s ease-out
}

.animation-opacity {
  animation: opacity 0.2s ease-in;
}

.appear-animation {
  animation: appearFromTop 0.3s ease-out;
}

